@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* Shared section  */

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}


.btn-primary {
    border-radius: 0.5rem;
    background: #FF900E;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem;
    cursor: pointer;
    border: none;
}

/* Header section  */


header {
    background: rgba(255, 144, 14, 0.10);
    padding: 3rem 13rem;

}


.nav-container {}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-title {
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}

.nav-menu {}

nav>ul {
    display: flex;
    gap: 2rem;
}

nav li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #424242;
    font-weight: bold
}



/* This is Banner section  */

.banner-container {}

.banner-text {
    margin: 0 auto;
    width: 50%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    margin: 1rem 0rem;

}

.banner-description {
    color: #727272;
    font-weight: 400;
    margin: 1.5rem 0rem;
}

.banner-btn {}

.banner-img {}

.banner-pic {
    width: 100%;
}

/* Feature section  */
.feature-container {
    margin: 4rem 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-icon-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.feature-icon {}

.feature-text {
    padding: 3rem;
}

.feature-title {
    color: #727272;
    font-weight: 700;
    margin: 1.5rem 0rem;
    font-size: 3rem;
}

.feature-text-black {
    color: #131313;
}

.feature-text-yellow {
    color: #FF900E;
}

.feature-description {
    margin: 1.5rem 0rem;
}

.btn-feature {}


/* Some Fact */
.fact-container {
    padding: 4rem 13rem;
}

.fact-title {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
    margin: 1.5rem 0;
}

.fact-description {
    color: #727272;
    font-weight: 400;
    width: 40%;
    margin: 1rem 0;
}

.fact-card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 4rem 0;
    
}

.fact-card {
    border: 0.25rem solid #FF900E;
    border-radius: 0.2rem;
    text-align: center;
    padding: 2rem;
    width: 12rem;
}

.fact-card-icon {
    margin: 1rem;
}

.fact-card-stat {
    margin: 1rem;
    font-size: 3.5rem;
}

.fact-card-description {
    font-size: 1rem;
}


/* Sponsor section  */
.sponsor-container{
    padding: 4rem 13rem;
    text-align: center;
}

.sponsor-title{
    margin: 1rem;
    font-size: 3rem;
}

.sponsor-description{
    margin: 1rem;
    font-size: 1rem;
}


.sponsor-icon-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 0;
    gap: 1.5rem;
}

.sponsor-icon{
    
}




/* Responsive Style for small device  */
@media screen and (max-width: 576px) {

    /* Header responsive  */

    header {
        background: rgba(255, 144, 14, 0.10);
        padding: 1rem 0.5rem;
    }

    .banner-text {
        width: 80%;
    }

    nav>ul {
        flex-direction: column;
        padding-right: 0.7rem;
    }

    /* Feature responsive */
    .feature-container {
        margin: 4rem 5rem;
        flex-direction: column;
    }

    .feature-icon-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
    }

    .feature-text {
        padding: 0rem;
    }


    /* Fact section  */
    .fact-container {
        padding: 3rem 5rem;
    }
    
    .fact-title {
    
    }
    
    .fact-description {
        width: 100%;
    }
    
    .fact-card-container {
        flex-direction: column;
    }


    /* Sponsor section  */
    .sponsor-container{
        padding: 1rem 1rem;
    }
    
    .sponsor-icon-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
}



/* Responsive Style for medium device */
@media screen and (min-width: 576px) and (max-width: 960px) {

    /* Header responsive  */

    header {
        background: rgba(255, 144, 14, 0.10);
        padding: 1.5rem 1rem;
    }

    .banner-text {
        width: 80%;
    }


    /* Feature responsive */
    .feature-container {
        margin: 4rem 5rem;
        flex-direction: column;
    }

    .feature-icon-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
    }

    .feature-text {
        padding: 0rem;
    }
     /* Fact section  */
     .fact-container {
        padding: 3rem 5rem;
    }
    
    .fact-title {
    
    }
    
    .fact-description {
        width: 100%;
    }
    
    .fact-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}