@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* Shared section  */

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}


.btn-primary {
    border-radius: 0.5rem;
    background: #FF900E;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem;
    cursor: pointer;
    border: none;
}

/* Header section  */


header {
    background: rgba(255, 144, 14, 0.10);
    padding: 3rem 13rem;

}


.nav-container {}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-title {
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}

.nav-menu {}

nav>ul {
    display: flex;
    gap: 2rem;
}

nav li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #424242;
    font-weight: bold

}



/* This is Banner section  */

.banner-container {}

.banner-text {
    margin: 0 auto;
    width: 50%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    margin: 1rem 0rem;

}

.banner-description {
    color: #727272;
    font-weight: 400;
    margin: 1.5rem 0rem;
}

.banner-btn{

}

.banner-img {

}

.banner-pic {
    width: 100%;
}

/* Feature section  */
.feature-container{
    margin: 4rem 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-icon-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.feature-icon{

}

.feature-text{
    padding: 3rem;
}

.feature-title{
    color: #727272;
    font-weight: 700;
    margin: 1.5rem 0rem;
    font-size: 3rem;
}

.feature-text-black{
    color: #131313;
}

.feature-text-yellow{
    color: #FF900E;
}

.feature-description{
    margin: 1.5rem 0rem;
}

.btn-feature{

}







/* Responsive Style for small device  */
@media screen and (max-width: 576px) {

    /* Header responsive  */

    header {
        background: rgba(255, 144, 14, 0.10);
        padding: 1rem 0.5rem;
    }
    .banner-text {
        width: 80%;
    }
    nav>ul {
        flex-direction: column;
        padding-right: 0.7rem;
    }
}



/* Responsive Style for medium device */
@media screen and (min-width: 576px) and (max-width: 960px){

    /* Header responsive  */

    header {
        background: rgba(255, 144, 14, 0.10);
        padding: 1.5rem 1rem;
    }
    
    .banner-text {
        width: 80%;
    }
}



